<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../partials/head"); %>
</head>
<body class="container">

<header>
    <%- include("../partials/headers"); %>
</header>

<main>
    <div class="jumbotron">
        <h1>Post</h1>
        <a href="/post/create"><div class="btn btn-primary">Create</div></a>
    </div>
    <% if(success == 0){ %>
        <div class="alert alert-danger">Failed to save post!</div>
    <% }else if(success == 1){ %>
        <div class="alert alert-success">Successfully save post!</div>
    <% } %>
    <table class="table table-striped">
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Action</th>
        </tr>
        <% data.forEach((user) => { %>
        <tr>
            <td><%= user.title %></td>
            <td><%= user.content %></td>
            <td>
                <a href="/post/edit/<%= user.id %>">Edit</a> 
                <a href="/post/delete/<%= user.id %>" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
            </td>
        </tr>
        <% }) %>
    </table>
</main>

<footer>
    <%- include("../partials/footer"); %>
</footer>

</body>
</html>